<!DOCTYPE html>

<header> <center><img src="https://gator4234.hostgator.com:2083/cpsess7333725500/viewer/home4%2fcmazey96%2fclemdog.com%2fviewer/book_finder%20header-02-01.png" style="max-width:100%;height:auto;"></center> </header>

<body style="background-color:#4da84b;">
<center>
<div class="col-md-1"></div>
<br>
<h2>What I'm currently reading:</h2>
<h6>Select a title to find out more.</h6>
<br>

<div class="form-group">
    <div class="col-md-4">
    	<form method="post" action="book_choice">
	<input type="radio" name="book_name" value="Blink"> Blink: The Power of Thinking Without Thinking<br>
    <input type="radio" name="book_name" value="Keep the Home Fires Burning"> Keep the Home Fires Burning - Part One: Spitfire Down!<br>
    <input type="radio" name="book_name" value="Defying Hitler"> Defying Hitler<br>
    <input type="radio" name="book_name" value="Ruby Cookbook"> Ruby Cookbook: Recipes for Object-Oriented Scripting<br>
    <input type="radio" name="book_name" value="Test Driven Development in Ruby"> Test Driven Development in Ruby<br></font></b>
    <br>
<input type="submit" value="Find Out More" class="btn btn-warning">
    </form>
</div>
</div>

<br>


Follow me on <a href="https://www.goodreads.com/user/show/63875112-christi-richmond" target="blank"> Goodreads! </a>
</center>
  </body>
</html>


