<% 
website = book_link(book_name)
location = book_pic(book_name) 
%>


<header> <center><img src="https://gator4234.hostgator.com:2083/cpsess7333725500/viewer/home4%2fcmazey96%2fclemdog.com%2fviewer/book_finder%20header-02-01.png" style="max-width:100%;height:auto;"></center> </header>

<body style="background-color:#4da84b;">
<center>
<div class="col-md-1"></div>
<br>
<h3>More about this title:</h3>
<br> 
<h4><a href= <%= website %>><%= book_name %></a></h4>
<br>
<img src = <%= location %> align="center";>
<br>



<br>

Follow me on <a href="https://www.goodreads.com/user/show/63875112-christi-richmond" target="blank"> Goodreads! </a>

<br><br>
</div>

</center>
  </body>
</html>
